html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: linear-gradient(to bottom right, #6e8ab1, #84648d);
}


.stream {/*, .movie {*/
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: -100;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
}
.wrapper {
	position:absolute;
	top: 21px;
	right: 0;
	bottom: 0;
	left: 0;
}

.inner-wrapper,
.top .inner {
	width: 100%;
	height: 100%;
}

.inner {
	display: flex;
}

.pane {
	display: inline-block;
}
.left.pane {
	vertical-align: top;
}


.top.pane,
.bottom.pane{
	display: block;
}

.bottom {
	width: 100%;
	text-align: center;
}
.right.pane, .left.pane {
	vertical-align: top;
	text-align: center;
}

.top.pane .inner .pane{
	height: 100%;
}

.top.pane {
	height: 75%;
}

.center.pane {
	overflow: visible;
	background: rgba(0, 0, 0, 0.1);
}

.streamCanvas {
	height: 100%;
}

.shrink.overflow {
	height: 40%;
}

.shrink.overflow .streamMenu {
	display: none;
}

.ui-resizable-handle.show {
	background-color: #002570;
	border: 1px solid black;
}

input[type="file"] {
	display: none;
}

label {
	cursor: pointer;
	display: inline-block;
}

.movieContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#menuCanvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}



#menuCanvas {
	z-index: 1;
}

.emoji {
	width: 50px;
}

button, label {
	display: inline-block;
	margin: 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #a800d6;
	font-size: 25px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

button:hover, label:hover {
	background-color: #7e00a1;
}

button:active, label:active {
	background-color: #520069;
}

#emojiDiv, #spamDiv{
	text-align: center;
	margin-top: 20px;
}

#emojiDiv {
	overflow-y: auto;
}

#spamDiv input {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	width: 75%;
}

.spam, .hand {
	position: absolute;
	display: inline-block;
	z-index:100;
}

.hand {
	left: 0px;
	top: 0px;
}

.spam {
	background-color: #ccffe6;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
}

.spam img {
	width: 75px;
}

.shrink {
	display: inline-block;
	position: relative;
	height: 90%;
	width: auto;
	transform: translateY(5.555556%);
	border: 3px solid black;
}

.streamMenu {
	opacity: 0;
	position: absolute;
	width: 100%!important;
	height: 100%!important;
	top: 0px;
	left: 0px;
	z-index: 50;
	background: rgba(255, 255, 255, 0.3);
}



.streamMenu:hover {
	opacity: 100%;
}

.menuButton {
	width: 90%;
	height: 20%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	position: relative;
}

.menuButton img {
	height: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

*:focus {
	outline: none;
}

.logo {
	width: 20%;
	display: inline-block;
	margin-top: 10px;
}

.movie {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
}

#fullscreenButton {
	background-color: #00177d;
	height: 50px;
	width: 50px;
	padding: 0px;
	position: relative;
}

#fullscreenButton:hover {
    background-color: #001057;
}

#fullscreenButton:active {
    background-color: #00082e;
}

#fullscreenButton img {
	position:absolute;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
    filter: invert(100%);
    transition: all .1s ease-in-out;
}

#fullscreenButton img:hover {
    height: 90%;
}

.hidden {
	display: none;
}

.error {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}