html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: linear-gradient(to bottom right, #6e8ab1, #84648d);
}

.stream {
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: -100;
}

.header {
	position: fixed;
	top: 3px;
	right: 3px;
	text-align: right;
}

.header img {
	height: 75%!important;
	filter: none!important;
}

.header button:hover img {
	height: 100%!important;
}

.leftheader {
	left: 3px;
	z-index: 50;
	text-align: left;
}

.footer {
	position: fixed;
	bottom: 3px;
	right: 3px;
}

.footer p {
    margin: 0px;
    text-align: right;
}

.footer a {
    color: white;
}

.wrapper {
	position:absolute;
	top: 21px;
	right: 0;
	bottom: 0;
	left: 0;
}

.inner-wrapper,
.top .inner {
	width: 100%;
	height: 100%;
}

.inner {
	display: flex;
}

.pane {
	display: inline-block;
}
.left.pane {
	vertical-align: top;
}

.top.pane,
.bottom.pane{
	display: block;
}

.bottom {
	width: 100%;
	text-align: center;
}
.right.pane, .left.pane {
	vertical-align: top;
	text-align: center;
}

.top.pane .inner .pane{
	height: 100%;
}

.top.pane {
	height: 75%;
}

.center.pane {
	overflow: visible;
	background: rgba(0, 0, 0, 0.1);
}

.streamCanvas {
	position: relative;
	height: 100%;
	transform: scaleX(-1);
}

.shrink.overflow {
	height: 40%;
}

.shrink.overflow .streamMenu {
	display: none;
}

.ui-resizable-handle {
	z-index: 100;
}

.ui-resizable-handle.show {
	background-color: #002570;
	border: 1px solid black;
}

input[type="file"] {
	display: none;
}

label {
	cursor: pointer;
	display: inline-block;
}

.movieContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#menuCanvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#menuCanvas {
	z-index: 1;
}

.emoji {
	width: 50px;
}

button, label {
	display: inline-block;
	margin: 10px;
	padding: 5px 10px 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #a800d6;
	font-size: 25px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

button:hover, label:hover {
	background-color: #7e00a1;
}

button:active, label:active {
	background-color: #520069;
}

#emojiDiv, #spamDiv{
	text-align: center;
	margin-top: 20px;
}

#emojiDiv {
	overflow-y: auto;
}

#emojiDiv button	{
	display: inline-flex;
}

input[type="text"] {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

#spamDiv input {
	width: 75%;
}

#shareButton {
	transform: scaleX(-1);
}

.spam, .hand {
	position: absolute;
	display: inline-block;
	z-index:100;
}

.hand {
	left: 0px;
	top: 0px;
}

.spam {
	background-color: #ccffe6;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
}

.spam img {
	width: 75px;
}

.shrink {
	display: inline-block;
	position: relative;
	height: 90%;
	width: auto;
	transform: translateY(5.555556%);
	border: 3px solid black;
}

.streamMenu {
	opacity: 0;
	position: absolute;
	width: 100%!important;
	height: 100%!important;
	top: 0px;
	left: 0px;
	z-index: 50;
	background: rgba(255, 255, 255, 0.3);
}

.streamMenu:hover {
	opacity: 100%;
}

.menuButton {
	position: absolute;
	width: 90%;
	height: 20%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	position: relative;
}

.menuButton img {
	height: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

* {
	outline: none!important;
}

*::-moz-focus-inner { 
  border: 0; 
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

.logo {
	width: 20%;
	display: inline-block;
	margin-top: 10px;
}

.movie {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
}

#fullscreenButton, .webcamControlButton {
	background-color: #00177d;
	height: 50px;
	width: 50px;
	padding: 0px;
	position: relative;
}

#fullscreenButton:hover, .webcamControlButton:hover {
	background-color: #001057;
}

#fullscreenButton:active, .webcamControlButton:active {
	background-color: #00082e;
}

#fullscreenButton img, .webcamControlButton img {
	position:absolute;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	filter: invert(100%);
	transition: all .1s ease-in-out;
}

.webcamControlButton img.disabled {
    filter: invert(100%) sepia(100%) saturate(10000%) brightness(50%) hue-rotate(290deg) drop-shadow(16px 16px 10px black)
}

#fullscreenButton:hover img, .webcamControlButton:hover img {
	height: 90%;
}

.hidden {
	display: none;
}

.error {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.error img {
    display: inline;
}

body.error {
    overflow-y: auto;
}

audio {
	display: none;
}

#movieLabel {
	width: 70%;
	box-sizing: border-box;
}

input[type=range].slider {
	-webkit-appearance: none;
	width: 70%;
	margin: 0px 0;
	border-radius: 10px;
}
input[type=range].slider:focus {
	outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: #7e00a1;
	border-radius: 10px;
	border: 1px solid #000000;
}
input[type=range].slider::-webkit-slider-thumb {
	border: 2px solid #000000;
	height: 32px;
	width: 32px;
	border-radius: 10px;
	background: #a800d6;
	background-image: url("/img/icons/speaker.svg");
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background: #7e00a1;
}
input[type=range].slider::-moz-range-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: #7e00a1;
	border-radius: 10px;
	border: 1px solid #000000;
}
input[type=range].slider::-moz-range-thumb {
	border: 2px solid #000000;
	height: 32px;
	width: 32px;
	border-radius: 10px;
	background: #a800d6;
	background-image: url("/img/icons/speaker.svg");
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}
input[type=range].slider::-ms-track {
	width: 100%;
	height: 32px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range].slider::-ms-fill-lower {
	background: #7e00a1;
	border: 1px solid #000000;
	border-radius: 10px;
}
input[type=range].slider::-ms-fill-upper {
	background: #7e00a1;
	border: 1px solid #000000;
	border-radius: 10px;
}
input[type=range].slider::-ms-thumb {
	border: 2px solid #000000;
	width: 32px;
	border-radius: 10px;
	background: #a800d6;
	background-image: url("/img/icons/speaker.svg");
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
	height: 32px;
}
input[type=range].slider:focus::-ms-fill-lower {
	background: #7e00a1;
}
input[type=range].slider:focus::-ms-fill-upper {
	background: #7e00a1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

#shareButton {
	position: relative;
}

#shareTab {
	position: fixed;
	width: 80%;
	background: linear-gradient(15deg, #a1ffba, #58b06f);
	border: 1px solid black;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 10000;
	padding: 20px;
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 0.5s; /* Firefox < 16 */
		-ms-animation: fadein 0.5s; /* Internet Explorer */
		 -o-animation: fadein 0.5s; /* Opera < 12.1 */
			animation: fadein 0.5s;
}

#shareTab * {
	font-size: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#shareTab a {
	display: inline;
	color: #00177d;
}

#shareTab p {
	margin: 10px;
}

#shareTab div {
	width: 75%;
	height: 35px;
	white-space: nowrap;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
